<div  class="ng2-smart-table-container" >
  <div class="flex flex-align-center">
		<ng-content select="header-actions"></ng-content>
		<ng2-smart-table-pager *ngIf="grid.getSetting('pager.display')" (paginated)="onPaginate($event)" [(source)]="dataSource"
			[perPage]="grid.getSetting('pager.perPage')"></ng2-smart-table-pager>
		 <table-settings [grid]="grid" [selectedPage]="grid.getSetting('pager.perPage')" (pageSizeChange)="onPageSizeChange($event)"
			(columnFiterChange)="onColumnFilterChange($event,passedValue,isColumnSelected,this.columns,this.rows)"> </table-settings>
	</div>
	<table class="ng2-smart-table table data" [id]="grid.getSetting('attr.id')" [ngClass]="grid.getSetting('attr.class')">
		<thead *ngIf="!grid.getSetting('hideHeader') || !grid.getSetting('hideSubHeader')">
			<tr class="ng2-smart-titles" *ngIf="!grid.getSetting('hideHeader')">
				<th *ngIf="grid.showActionColumn()" class="ng2-smart-actions">
					<div class="ng2-smart-title">{{ grid.getSetting('actions.columnTitle') }}</div>
				</th>
				<th *ngIf="grid.getSetting('selector')=='check'">
					<smart-selector placeHolder="Select All" [(selectedValue)]="selectAll" (edited)="onHeaderSelectAll($event)"> </smart-selector>
				</th>
				<th>
				</th>
				<th *ngFor="let column of getColumns()" class="ng2-smart-th {{ column.id }}" [ngClass]="column.class">
					<div class="ng2-smart-title" *ngIf="column.isVisible">
						<ng2-smart-table-title [source]="dataSource" [column]="column"></ng2-smart-table-title>
						<template-modal *ngIf="column.type!=null && column.type" [title]="column.title" [type]="column.type"> </template-modal>
					</div>
				</th>
			</tr>

			<tr class="ng2-smart-filters" *ngIf="!grid.getSetting('hideSubHeader')">
				<th *ngIf="grid.showActionColumn()" class="ng2-smart-actions-title ng2-smart-actions-title-add">
					<a *ngIf="grid.getSetting('actions.add')" href="#" class="ng2-smart-action ng2-smart-action-add-add" [innerHTML]="grid.getSetting('add.addButtonContent')"
						(click)="onAdd($event)"></a>
				</th>
				<th *ngFor="let column of grid.getColumns()" class="ng2-smart-th {{ column.id }}">
					<ng2-smart-table-filter [source]="dataSource" [column]="column" [inputClass]="grid.getSetting('filter.inputClass')"></ng2-smart-table-filter>
				</th>
			</tr>

			<tr *ngIf="grid.createFormShown">
				<td class="ng2-smart-actions">
					<a href="#" class="ng2-smart-action ng2-smart-action-add-create" [innerHTML]="grid.getSetting('add.createButtonContent')"
						(click)="onCreate(grid.getNewRow(), $event)"></a>
					<a href="#" class="ng2-smart-action ng2-smart-action-add-cancel" [innerHTML]="grid.getSetting('add.cancelButtonContent')"
						(click)="grid.createFormShown = false;"></a>
				</td>
				<td *ngFor="let cell of grid.getNewRow().getCells()">
					<ng2-smart-table-cell [cell]="cell" [inputClass]="grid.getSetting('add.inputClass')" (edited)="onCreate(grid.getNewRow(), $event)"></ng2-smart-table-cell>
				</td>
			</tr>

		</thead>

		<tbody>

			<tr *ngFor="let row of grid.getRows()" (click)="onUserSelectRow(row)" class="ng2-smart-row" [ngClass]="{selected: row.isSelected}">
				<td *ngIf="!row.isInEditing && grid.showActionColumn()" class="ng2-smart-actions">
					<a href="#" *ngIf="grid.getSetting('actions.edit')" class="ng2-smart-action ng2-smart-action-edit-edit" [innerHTML]="grid.getSetting('edit.editButtonContent')"
						(click)="onEdit(row, $event)"></a>
					<a href="#" *ngIf="grid.getSetting('actions.delete')" class="ng2-smart-action ng2-smart-action-delete-delete" [innerHTML]="grid.getSetting('delete.deleteButtonContent')"
						(click)="onDelete(row, $event)"></a>
				</td>
				<td *ngIf="grid.getSetting('selector')=='check'">
					<smart-selector placeHolder="Select" [selectedValue]="row.isSelected" > </smart-selector>
				</td>
				<td *ngIf="row.isInEditing" class="ng2-smart-actions">
					<a href="#" class="ng2-smart-action ng2-smart-action-edit-save" [innerHTML]="grid.getSetting('edit.saveButtonContent')" (click)="onSave(row, $event)"></a>
					<a href="#" class="ng2-smart-action ng2-smart-action-edit-cancel" [innerHTML]="grid.getSetting('edit.cancelButtonContent')"
						(click)="row.isInEditing = false;"></a>
				</td>
				<td>
					<ng-content select="row-action"></ng-content>
				</td>
				<td *ngFor="let cell of row.getCells() | filter:{isVisible: true}">
				     <ng2-smart-table-cell [cell]="cell" [mode]="grid.getSetting('mode')" [inputClass]="grid.getSetting('edit.inputClass')" (edited)="onSave(row, $event)"></ng2-smart-table-cell>
               </td>
			</tr>

			<tr *ngIf="grid.getRows().length == 0">
				<td [attr.colspan]="grid.getColumns().length + (grid.getSetting('actions.add') || grid.getSetting('actions.edit') || grid.getSetting('actions.delete'))">{{ grid.getSetting('noDataMessage') }}</td>
			</tr>

		</tbody>
	</table>

</div>